{% extends 'base.html.twig' %}

{% block title %}Search images{% endblock %}

{% block body %}

<section>
    <div class="px-4 py-5 my-5 text-center">
        <div class="col-lg-6 mx-auto">
            {{ form_start(form) }}
            <div class="input-group mb-3">
                    {{ form_widget(form.search) }}
                    {{ form_widget(form.save) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</section>

{% endblock %}
